{% extends "blog/base.html" %}

{% block title %} INICIO {% endblock title %}

{% block content %}
<h1>Publicaciones</h1>

{% for post in posts %}
    <article class="mb-4">
        <h2>
            <a href="{% url 'detalle_post' post.pk %}">
                {{ post.titulo }}
            </a>
        </h2>
        <p><em>por {{ post.autor }} el {{ post.fecha_publicacion }}</em></p>
        <p>{{ post.contenido|truncatechars:150 }}</p>
        <hr>
    </article>
{% empty %}
    <p>No hay publicaciones todavía.</p>
{% endfor %}

<div>
    <a href="{% url 'crear_post' %}" class="btn btn-primary">Crear Nuevo Post</a>
</div>

{% endblock %}


