<h2 class="mb-4 text-center">REGISTRO DE USUARIO</h2>
<form method="post" class="container p-4 border rounded shadow w-50">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Usuario" required>
    </div>
    <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">REGISTRARSE</button>
</form>

<div class="text-center mt-3">
    <a href="{% url 'login' %}" class="text-decoration-none">¿Ya tienes cuenta? Inicia sesión</a>
</div>
